<?xml version="1.0"?>
<configuration>
  <components>

    <component id="fundproProcessor"
		   type="ProjectBase.Newsletter.NewsletterProcessor, ProjectBase.Newsletter"
		   service="ProjectBase.Newsletter.INewsletterProcessor, ProjectBase.Newsletter">
      <parameters>
        <SessionFactoryConfigPath>WebNHibernate.config</SessionFactoryConfigPath>
        <TemplatePath>C:\templates\</TemplatePath>
        <TimesToExecute>
          <array>
            <item>12:00</item>
          </array>
        </TimesToExecute>
        <DaysToExecute>
          <array>
            <item>1</item>
            <item>2</item>
            <item>3</item>
            <item>4</item>
            <item>5</item>
          </array>
        </DaysToExecute>
        <WeekDay>1</WeekDay>
        <MonthDay>1</MonthDay>
      </parameters>
    </component>

  </components>
</configuration>